USE [master]
GO
/****** Object:  Database [db_paikesys]    Script Date: 17-5-12 上午 07:40:45 ******/
CREATE DATABASE [db_paikesys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_paikesys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_paikesys.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_paikesys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_paikesys_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_paikesys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_paikesys]
GO
/****** Object:  Table [dbo].[t_admin]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_admin](
	[username] [nvarchar](50) NOT NULL,
	[userpwd] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_courseplan]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_courseplan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [nvarchar](50) NULL,
	[coursename] [nvarchar](50) NULL,
	[khtype] [nvarchar](50) NULL,
	[score] [nvarchar](50) NULL,
	[xueshiall] [nvarchar](50) NULL,
	[xueshijiangshou] [nvarchar](50) NULL,
	[xueshishiyan] [nvarchar](50) NULL,
	[major] [nvarchar](50) NULL,
	[grade] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_courseplan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_coursetable]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_coursetable](
	[ID] [int] NULL,
	[taskid] [nvarchar](50) NULL,
	[weekdays] [nvarchar](50) NULL,
	[sections] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_coursetask]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_coursetask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[xuhao] [nvarchar](50) NULL,
	[coursename] [nvarchar](50) NULL,
	[coursexingzhi] [nvarchar](50) NULL,
	[grade] [nvarchar](50) NULL,
	[major] [nvarchar](50) NULL,
	[xueshiall] [nvarchar](50) NULL,
	[xueshijiangshou] [nvarchar](50) NULL,
	[xueshishiyan] [nvarchar](50) NULL,
	[xueshiallz] [nvarchar](50) NULL,
	[xueshijiangshouz] [nvarchar](50) NULL,
	[xueshishiyanz] [nvarchar](50) NULL,
	[zhouci] [nvarchar](50) NULL,
	[khtype] [nvarchar](50) NULL,
	[courserongliang] [nvarchar](50) NULL,
	[teachidz] [nvarchar](50) NULL,
	[teachidf] [nvarchar](50) NULL,
	[teachids] [nvarchar](50) NULL,
	[dianjiao] [nvarchar](50) NULL,
	[shuangyu] [nvarchar](50) NULL,
	[remark] [nvarchar](50) NULL,
	[classroom] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_coursetask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_major]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_major](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[remark] [nvarchar](50) NULL,
	[nums] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_major] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_SecretSecuritypwd]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_SecretSecuritypwd](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Users] [nvarchar](50) NULL,
	[problem] [nvarchar](50) NULL,
	[answer] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_SecretSecuritypwd] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_student]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [nvarchar](50) NOT NULL,
	[pwd] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[grade] [nvarchar](50) NOT NULL,
	[major] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_t_student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_taboo]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_taboo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[weekdays] [nvarchar](50) NULL,
	[sections] [nvarchar](50) NULL,
	[weeksstart] [nvarchar](50) NULL,
	[weeksend] [nvarchar](50) NULL,
	[tabootype] [nvarchar](50) NULL,
	[teachid] [nvarchar](50) NULL,
	[shenhe] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_teacher]    Script Date: 17-5-12 上午 07:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teachid] [nvarchar](50) NULL,
	[pwd] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[zhicheng] [nvarchar](50) NULL,
	[xueli] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[t_admin] ([username], [userpwd]) VALUES (N'admin     ', N'admin     ')
SET IDENTITY_INSERT [dbo].[t_courseplan] ON 

INSERT [dbo].[t_courseplan] ([ID], [courseid], [coursename], [khtype], [score], [xueshiall], [xueshijiangshou], [xueshishiyan], [major], [grade]) VALUES (1, N'0001', N'计算机大讲坛    ', N'面授        ', N'1         ', N'12        ', N'6         ', N'6         ', N'计算机       ', N'2013      ')
INSERT [dbo].[t_courseplan] ([ID], [courseid], [coursename], [khtype], [score], [xueshiall], [xueshijiangshou], [xueshishiyan], [major], [grade]) VALUES (2, N'BG0000020X0', N'就业指导      ', N'考查        ', N'1.5       ', N'24        ', N'24        ', N'0         ', N'通信工程      ', N'2013      ')
INSERT [dbo].[t_courseplan] ([ID], [courseid], [coursename], [khtype], [score], [xueshiall], [xueshijiangshou], [xueshishiyan], [major], [grade]) VALUES (3, N'BS0000025X0', N'社会实践      ', N'考查        ', N'0.5       ', N'8         ', N'0         ', N'0         ', N'通信工程      ', N'2013      ')
GO
SET IDENTITY_INSERT [dbo].[t_courseplan] OFF
INSERT [dbo].[t_coursetable] ([ID], [taskid], [weekdays], [sections]) VALUES (NULL, N'2', N'1', N'2')
INSERT [dbo].[t_coursetable] ([ID], [taskid], [weekdays], [sections]) VALUES (NULL, N'2', N'3', N'2')
INSERT [dbo].[t_coursetable] ([ID], [taskid], [weekdays], [sections]) VALUES (NULL, N'4', N'1', N'2')
GO
SET IDENTITY_INSERT [dbo].[t_coursetask] ON 

INSERT [dbo].[t_coursetask] ([ID], [xuhao], [coursename], [coursexingzhi], [grade], [major], [xueshiall], [xueshijiangshou], [xueshishiyan], [xueshiallz], [xueshijiangshouz], [xueshishiyanz], [zhouci], [khtype], [courserongliang], [teachidz], [teachidf], [teachids], [dianjiao], [shuangyu], [remark], [classroom]) VALUES (1, NULL, N'课程名称', N'课程名称', N'2010', N'计算机       ', N'12', N'6', N'6', N'8', N'6', N'2', N'1-16', N'考核方式', N'50', N'1001', N'1001', N'1001', N'101', N'否', N'备注', NULL)
INSERT [dbo].[t_coursetask] ([ID], [xuhao], [coursename], [coursexingzhi], [grade], [major], [xueshiall], [xueshijiangshou], [xueshishiyan], [xueshiallz], [xueshijiangshouz], [xueshishiyanz], [zhouci], [khtype], [courserongliang], [teachidz], [teachidf], [teachids], [dianjiao], [shuangyu], [remark], [classroom]) VALUES (2, N'15161104', N'射频技术与仿真', N'专业必修', N'2012', N'电子科学与技术', N'32', N'16', N'16', N'', N'4', N'', N'1-8', N'考查', N'100', N'10000', N'10099', N'10131', N'1002
', N'否', N'任选70（后半学期）', NULL)
INSERT [dbo].[t_coursetask] ([ID], [xuhao], [coursename], [coursexingzhi], [grade], [major], [xueshiall], [xueshijiangshou], [xueshishiyan], [xueshiallz], [xueshijiangshouz], [xueshishiyanz], [zhouci], [khtype], [courserongliang], [teachidz], [teachidf], [teachids], [dianjiao], [shuangyu], [remark], [classroom]) VALUES (4, N'15161106', N'光通信网络与交换', N'专业必修', N'2012', N'电子科学与技术', N'32', N'32', N'0', N'', N'4', N'', N'10-18', N'考查', N'100', N'10002', N'10100', N'', N'10023', N'否', N'限选88（后半学期）', NULL)
SET IDENTITY_INSERT [dbo].[t_coursetask] OFF
SET IDENTITY_INSERT [dbo].[t_major] ON 

INSERT [dbo].[t_major] ([id], [name], [remark], [nums]) VALUES (1, N'计算机       ', N'计算机信息技术专业 ', N'12        ')
INSERT [dbo].[t_major] ([id], [name], [remark], [nums]) VALUES (2, N'会记        ', N'会记        ', N'12        ')
INSERT [dbo].[t_major] ([id], [name], [remark], [nums]) VALUES (3, N'通信工程      ', N'通信工程      ', N'167       ')
SET IDENTITY_INSERT [dbo].[t_major] OFF
SET IDENTITY_INSERT [dbo].[t_SecretSecuritypwd] ON 

INSERT [dbo].[t_SecretSecuritypwd] ([ID], [Users], [problem], [answer]) VALUES (1, N'admin', N'我是管理员', N'1')
SET IDENTITY_INSERT [dbo].[t_SecretSecuritypwd] OFF
SET IDENTITY_INSERT [dbo].[t_student] ON 

INSERT [dbo].[t_student] ([ID], [studentId], [pwd], [name], [grade], [major]) VALUES (2, N'15161104', N'000000', N'张工', N'2012', N'电子科学与技术')
INSERT [dbo].[t_student] ([ID], [studentId], [pwd], [name], [grade], [major]) VALUES (3, N'15161104', N'000000', N'李梅', N'2012', N'电子科学与技术')
INSERT [dbo].[t_student] ([ID], [studentId], [pwd], [name], [grade], [major]) VALUES (4, N'15161106', N'000000', N'陶冶', N'2012', N'电子科学与技术')
SET IDENTITY_INSERT [dbo].[t_student] OFF
SET IDENTITY_INSERT [dbo].[t_taboo] ON 

INSERT [dbo].[t_taboo] ([ID], [weekdays], [sections], [weeksstart], [weeksend], [tabootype], [teachid], [shenhe]) VALUES (1, N'2', N'1', N'1', N'1', N'1', NULL, NULL)
INSERT [dbo].[t_taboo] ([ID], [weekdays], [sections], [weeksstart], [weeksend], [tabootype], [teachid], [shenhe]) VALUES (2, N'1', N'1', N'1', N'1', N'1', NULL, NULL)
INSERT [dbo].[t_taboo] ([ID], [weekdays], [sections], [weeksstart], [weeksend], [tabootype], [teachid], [shenhe]) VALUES (3, N'2', N'1', N'1', N'1', N'0', N'admin', NULL)
SET IDENTITY_INSERT [dbo].[t_taboo] OFF
SET IDENTITY_INSERT [dbo].[t_teacher] ON 

INSERT [dbo].[t_teacher] ([id], [teachid], [pwd], [name], [zhicheng], [xueli]) VALUES (1, N'admin', N'admin', N'李老师', NULL, NULL)
INSERT [dbo].[t_teacher] ([id], [teachid], [pwd], [name], [zhicheng], [xueli]) VALUES (2, N'1001', N'1001', N'李斌', N'特岗        ', N'博士        ')
INSERT [dbo].[t_teacher] ([id], [teachid], [pwd], [name], [zhicheng], [xueli]) VALUES (3, N'10000', N'10000', N'李海鸥', N'教授        ', N'博士        ')
GO
SET IDENTITY_INSERT [dbo].[t_teacher] OFF
USE [master]
GO
